
/* https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API */
.header {
font-size: 2rem;
text-align: center;
font-style: italic;
}

body {
    margin: 0;
    /* overflow: hidden; */
    background: linear-gradient(to bottom, #bebdbd, #ffffff);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    font-family: 'Outfit', serif;
  }

#control {
    margin-bottom: 30px;
}

#set {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
  }

#display {
    font-size: 23vw;
    text-align: center;
  }

.two-span {
  grid-column-end: span 2;
}

.select-row {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    display: flex;
  flex-direction: row;
  align-items: center;
  }

  #timestamps {
      max-height: 400px;
      overflow-y: scroll;
      background: rgba(0,0,0,0.2);
  }

#timestamps li {
  font-size: 2rem;
  list-style-type:none;
}

.select-row li {
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
  flex-grow: 1;
}

.select-row label,
.select-row input {
  display: block;
  border: none;
  text-align: center;
}

.select-row label {
  padding: 10px;
  font-size: 2rem;
}

.select-row input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.select-row input[type="radio"]:checked+label,
.Checked+label {
  border: 2px black solid;
}

.timer-on {
background: linear-gradient(0deg, #b8f0a7, #5edfdf, #ebe18f, #f15858);
	background-size: 2000% 2000%;
	animation: 15s gradient ease 1;
	height: 100vh;
    animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
        background-position: 100% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}


.hidden {
    display: none;
    font-size:0;
}

#suggestionBox {
    padding: 10px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    border: none;
    background: rgba(0,0,0,0.2);
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 20px 15px;
    min-height: 120px;
}

button:hover,
button:focus {
    border: 1px solid black;
}

button:focus {
    border: 1px solid black;
}

button:active {
    transform: scale(0.99);
    border: 1px solid black;
}

.suggestion {
  font-size:12vw;
  font-family: 'Patua One';
}

@media  (min-width: 1789px) {
   body {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 50px;
    }

    .suggestion {
        font-size: 5vw;
        }
    #display {
        font-size: 9vw;
        text-align: center;
        }

    .select-row label {
        padding: 10px;
        }

        button {
        padding: 20px 15px;
        font-size: 2.5vw;
        padding: 1rem 2rem;
        }

        .two-span {
        padding: 40px 15px;
        }
  }

@keyframes slidein {
  from {
    font-size:0;
  }

  to {
    font-size:2vw;
  }
}